<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
 <link rel="stylesheet" href="./signup 2 style.css"/>
</head>
<body>

  <div class="card-container">
    <div class="login-card">
      <div class="hello-text">Staff Login</div>
      <input type="text" placeholder="Staff ID" />
      <input type="password" placeholder="Password" required>
      <a href="try.html"><button type="submit" class="login-button">Login</button></a>
      <div class="button-container">
        <a href="signup 1.html"></button>Login as Student</a>
        <br><br>
        <!-- <a href="somewhere else.html"></button>Login as Admin</a></div> -->
      <div>

        </div>
</body>
</html>