<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login</title>
 <link rel="stylesheet" href="./signup 1 style.css"/>
</head>
<body>
  <div class="card-container">
    <div class="login-card">
      <div class="hello-text">Student Login</div>
      <input type="text" placeholder="Matric Number" />
      <input type="password" placeholder="Password" />
      <a href="homepage 1.html"><button type="submit" class="login-button">Login</button></a>
      <div>
        <div class="button-container">
          <a href="actuall signin.html"></button>Sign in</a></div>

          <a href="signup 2.html"></button>Login as Staff</a>
          <br><br>
        
      
    </div>
  </div>
</body>
</html>

