<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tasks.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
          <a href="#" class="logo">STAFF</a>
          <!-- <a href="#" class="logo"><img src="Screenshot 2024-05-27 020407.png"></a> -->
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li><a href="try.html">Students</a></li>
            <li><a href="stafff .html">My Profile</a></li>
            <li><a href="Login page.html">Logout</a></li>
            <li><a href="support.html">Support</a></li>
          </ul>
        </nav>
        <div class="sidebar-footer">
          <p>we take your presence serious...</p>
        </div>
      </div>


      <div class="card-container">
        <div class="login-card">
          <div class="hello-text">Task assigning</div>
          <input type="text" placeholder="Name of student" />
          <input type="text" placeholder="task" />
          
          <div class="hello-text">Group</div>
          <input type="text" placeholder="Name of students" />
          <input type="text" placeholder="task" />
          <input type="text" placeholder="Password" />
          <a href="homepage 1.html"><button type="submit" class="login-button">Done</button></a>
</body>
</html>