{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style/homepage 1.css' %}">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <a href="#" class="logo">STUDENT</a>
      <!-- <a href="#" class="logo"><img src="Screenshot 2024-05-27 020407.png"></a> -->
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="student permit .html">Student Permit</a></li>
        <li><a href="activity.html">Activity Log</a></li>
        <li><a href="calendar.html">calendar</a></li>
        <li><a href="profile .html">My Profile</a></li>
        <li><a href= "{% url 'student:logout' %}">Logout</a></li>
        <li><a href="support.html">Support</a></li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <p>we take your presence serious...</p>
    </div>
  </div>
  <div class="content">
    <h1>ATTSYS</h1>
    <p>SIWES never got easier.</p>
    <!-- <img src="IMG-20240514-WA0000.jpg"> -->
  </div>
 
</body>
</html>