{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login</title>
  <link rel="stylesheet" href="{% static 'style/s1.css' %}">
</head>
<body>
  <div class="card-container">
    <div class="login-card">
      <div class="hello-text">Student Login</div>
      {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>  {% endif %}
      <form action="{% url 'student:signup' %}" method="post">
        {% csrf_token %}
        <label for="username">Matric Number:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <input type="hidden" name="user_type" value="student">
        <button type="submit" class="login-button">Login</button>
      </form>
      <div>
        <div class="button-container">
          <a href="{% url 'staff:signup' %}">Login as Staff</a>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
