/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url(abstract-blur-gradient-background-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  background-color: #12041a;
  color: #fff;
  width: 250px;
  height: 100vh;
  overflow-x: hidden;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.sidebar-header {
  margin-bottom: 20px;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  background-image: url('Screenshot 2024-05-27 020407.png');
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.sidebar-nav li a:hover {
  background-color: #444;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
}
.designer-container {
  display: flexbox;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-gap: 10px;
}

.designer-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.designer-profile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.designer-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px;
}

.designer-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.designer-title {
  font-size: 14px;
  color: #666;
}

.designer-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.designer-stat {
  text-align: center;
}

.stat-label {
  font-size: 14px;
  color: #666;
}

.stat-value {
  font-size: 16px;
  font-weight: bold;
}

.designer-ranking {
  font-size: 24px;
  font-weight: bold;
  color: #ff6b6b;
  text-align: right;
}



.login-button {
  background-color: rgba(255, 255, 255, 0.5); /* Set the background color to a partially transparent white */
  color: #333; /* Set the text color to a dark gray */
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Set the border-radius to 50% to make it round */
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease; /* Add a smooth transition for hover/focus effects */
  margin-right: 20px; /* Add some space at the right */
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly increase the opacity on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
  transform: translateY(-2px); /* Slightly move the button up on hover */
}

.login-button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on focus */
}
